.content-curiosidade {
  background-color: #fdf0dd;
  color: #701313;
  padding: 3rem 2rem;
  font-family: "Playfair Display", serif;
  line-height: 1.8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  box-sizing: border-box;
}

.curiosidade01 {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-align: justify;
}


