@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bartle&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.content-elenco{
    display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  margin: 0;
  padding: 2rem;
}

.titulo-personagens{
    color: black;
    font-family: "Playfair Display", serif;
    max-width: 30%;
    display: flex;
    text-align: start;
}

.titulo-personagens, .introducao em{
    color: #ae1717;
}

.introducao p {
    color: black;
    font-family: "Playfair Display", serif;
}

.card {
    width: 300px;
    height: 350px;
    margin: 1rem auto;
    perspective: 1000px;
    cursor: pointer;
}

.card-girar {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card:hover .card-girar {
    transform: rotateY(180deg);
}

.card-frente,
.card-atras {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
}

.card-frente {
    background: black;
    border: 1px solid black;
}

.card-frente img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
    border: solid 2px;
    color: black;
}

.card-atras {
    background: #dacbb2;
    color: white;
    transform: rotateY(180deg);
}

.card-atras p{
    color: black;
    padding: 2rem;
    font-family: "Playfair Display", serif;
}

.card-atras em{
    color: #ae1717;
}