.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  height: 8vh;
  background-color: #fdf6e3; 
  box-shadow: 0 2px 5px rgba(49, 48, 48, 0.101);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.header-logo img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.header-menu {
  flex: 1;
  display: flex;
  justify-content: center;
}

.header-menu ul {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 30px;
}

.header-menu li {
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
  box-shadow: 0 2px 4px rgba(65, 47, 47, 0.1);
  user-select: none;
  color: rgb(0, 45, 87);
}

.header-menu li:hover {
  background-color: #f3e2c7; /* bege rosado suave */
  color: #5c5248;             /* marrom leve */
  box-shadow: 0 4px 8px rgba(179, 156, 130, 0.4);
}

.header-search {
  display: flex;
  align-items: flex-end;
}

.header-search input {
  padding: 7px 12px;
  border: 1px solid #b39c82; /* marrom claro elegante */
  border-radius: 20px;
  outline: none;
  transition: border-color 0.3s ease;
  width: 180px;
  color: #5c5248;
  background-color: #fffdf6;
}

.header-search input:focus {
  border-color: #a67b5b;
  box-shadow: 0 0 8px #a67b5b;
}
