@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

.content-banda {
   display: flex;
    flex-direction: row; 
    align-items: center; /* alinha verticalmente */
    justify-content: center; /* centraliza horizontalmente */
    gap: 2rem; 
    padding: 2rem;
    flex-wrap:wrap; 
}

.titulo {
    color: #0B3037;
    font-family: "Abril Fatface", serif;
    
}

.paragrafo_texto_02 p {
    text-align: center;
    margin-top: 1rem;

    color: white;

    text-align: center;
}

  
.paragrafo_texto_02 figure img, 
.paragrafo_texto_01 figure img {
    /* TAMANHO DA IMAGEM */
    width: 500px;
    border-radius: 20px;
    display: flex;
    
}

.paragrafo_texto_01 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.paragrafo_texto_01 p {
    flex: 1; /* faz o p ocupar espaço proporcional */
    text-align: justify; /* ou center, left, right */
    color: white;
}
