.content-banda {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
  flex-wrap: wrap;
  background-color: #fdf0dd; /* ou qualquer outra cor que quiser */
}

.texto-serie {
  flex: 1;
  max-width: 600px;
  color: #0B3037;
}

.texto-serie p {
  margin-bottom: 1rem;
  text-align: justify;
  font-family: "Cabin", sans-serif;
  color: #0B3037;
}

.texto-serie strong {
  color: #1e0bf3; /* azul para dar destaque */
}

.texto-serie em {
  font-style: italic;
  color: #7a42d8;
}

.imagem-serie {
  flex: 1;
  max-width: 600px;
}

.imagem-serie img {
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
